- hosts: all
  gather_facts: yes

  vars:
    shared_packages:
      - neovim
      - tmux
      - git
      - base-devel
      - xorg-xsetroot
      - discord
      - fzf
      - tealdeer
      - libfido2
      - android-udev
      - yt-dlp
      - zathura
      - bitwarden
      - feh
      - yubikey-manager
      - zathura-pdf-mupdf
      - vlc
      - mpv
      - gimp
      - audacity
      - wget
    dotfiles_repo: "https://github.com/uchars/.files"
    dwm_repo: "https://github.com/uchars/dwm"

  tasks:
    - name: Ensure pacman is up to date
      pacman:
        update_cache: yes
        upgrade: yes
      become: yes

    - name: Install shared packages
      pacman:
        name: "{{ shared_packages }}"
        state: present
      become: yes

    - name: Install yay (AUR helper)
      pacman:
        name: yay
        state: present
      become: yes

    - name: Install Thunar file manager with required plugins
      pacman:
        name:
          - thunar
          - thunar-archive-plugin
          - thunar-volman
          - gvfs
          - gvfs-smb
          - gvfs-afc
          - gvfs-google
          - tumbler
        state: present
      become: yes

    - name: Install Fonts
      become: yes
      command: yay -S --noconfirm ttf-sourcecodepro-nerd

    - name: Refresh system font cache
      command: fc-cache -fv
      become: yes

    - name: Change shell to bash
      command: chsh -s /bin/bash
      become: yes

    - name: Clone dotfiles repo
      git:
        repo: "{{ dotfiles_repo }}"
        dest: "{{ ansible_facts['env']['HOME'] }}/.files"
        version: master
      become: false

    - name: Ensure .config/nvim directory exists
      file:
        path: "{{ ansible_facts['env']['HOME'] }}/.config/nvim"
        state: directory
      become: false

    - name: Install GNU stow
      pacman:
        name: stow
        state: present
      become: true

    - name: Backup existing .bashrc
      command: mv ~/.bashrc ~/.bashrc.backup
      ignore_errors: yes

    - name: Backup existing .profile
      command: mv ~/.profile ~/.profile.backup
      ignore_errors: yes

    - name: Deploy bash configs with stow
      command: stow bash
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/.files"
      become: false

    - name: Backup existing .tmux.conf
      command: mv ~/.tmux.conf ~/.tmux.conf.backup
      ignore_errors: yes

    - name: Deploy tmux configs with stow
      command: stow tmux
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/.files"
      become: false

    - name: Deploy vim configs with stow
      command: stow vim
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/.files"
      become: false

    - name: Backup all existing ~/.config files
      shell: |
        mkdir -p {{ ansible_facts['env']['HOME'] }}/.config/backup
        shopt -s dotglob
        mv {{ ansible_facts['env']['HOME'] }}/.config/* {{ ansible_facts['env']['HOME'] }}/.config/backup/ 2>/dev/null || true
      args:
        executable: /bin/bash

    - name: Deploy config folder (nvim, etc) with stow
      command: stow -R config
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/.files"
      become: false

    - name: Deploy local scripts with stow
      command: stow local
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/.files"
      become: false

    - name: Deploy emacs configs with stow
      command: stow emacs
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/.files"
      become: false

    - name: Clone DWM repo
      git:
        repo: "{{ dwm_repo }}"
        dest: "{{ ansible_facts['env']['HOME'] }}/dwm"
        version: master
      become: false

    - name: Build and install dwm
      command: make clean install
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/dwm"
      become: yes

    - name: Create dwm session for display manager
      copy:
        dest: /usr/share/xsessions/dwm.desktop
        content: |
          [Desktop Entry]
          Name=dwm
          Comment=Dynamic Window Manager
          Exec=dwm
          TryExec=dwm
          Type=Application
          X-LightDM-DesktopName=dwm
          DesktopNames=dwm
          Keywords=tiling;wm;windowmanager;window;manager;
        owner: root
        group: root
        mode: '0644'
      become: yes

